<style type="text/css">
div.full {
    width: 50%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 8px;
}
div.half {
    width: 50%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 8px;
}
</style>

{% if include.full == true %}
<div class="full">
    <img src="{{include.dir}}"/>
    <p>This is a test image</p>
</div>
{% endif %}

{% if include.full == false %}
<div class="half">
    <img src="{{include.dir}}"/>
    <p>This is a test image</p>
</div>
{% endif %}


