<div class="mui-col-md-4">
  <div class="mui-panel">
    <h2>Links</h2>
    <ul class="about-links">
        <li><a href="/Polysite/" class="mui-btn">Website</a></li>
        <li><a href="/resume/" class="mui-btn">Resume</a></li>
        <li><a href="/jblog/repos/" class="mui-btn">Github Repos</a></li>

        <li><a href="/jblog/archives/" class="mui-btn">Archives</a></li>
        <li><a href="/jblog/tags/" class="mui-btn">Tags</a></li>
        <li><a href="/jblog/test/" class="mui-btn">Test Area</a></li>
        <li><a href="/jblog/about/" class="mui-btn">About</a></li>
    </ul>
    <h2>Contact</h2>
    <ul class="about-links">
        {% if site.links.github %}
            <li><a href="https://github.com/{{ site.links.github }}" target="_blank" class="mui-btn"><i class="fa fa-github"></i>Github</a></li>
        {% endif %}
        {% if site.links.twitter %}
            <li><a href="https://twitter.com/{{ site.links.twitter }}" target="_blank" class="mui-btn "><i class="fa fa-twitter"></i>Twitter</a></li>
        {% endif %}
        {% if site.links.facebook %}
            <li><a href="https://www.facebook.com/{{ site.links.facebook }}" target="_blank" class="mui-btn"><i class="fa fa-facebook"></i>Facebook</a></li>
        {% endif %}
        {% if site.links.email %}
            <li><a href="mailto:{{ site.links.email }}" class="mui-btn"><i class="fa fa-envelope"></i>Mail</a></li>
        {% endif %}
        {% if site.links.youtube %}
            <li><a href="https://www.youtube.com/{{ site.links.youtube }}" target="_blank" class="mui-btn"><i class="fa fa-youtube"></i>Youtube</a></li>
        {% endif %}

        <!-- My own custom links-->
        {% if site.links.linkedin %}
            <li><a href="https://ie.linkedin.com/in/{{ site.links.linkedin }}"target="_blank" class="mui-btn"><i class="fa fa-linkedin"></i>Linkedin</a></li>
        {% endif %}
        {% if site.links.discord_name and site.links.discord_invite %}
            {% include icon-discord.html name=site.links.discord_name link=site.links.discord_invite %}
        {% endif %}
    </ul>
  </div>
</div>
